<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Won</title>
</head>
<body>
    <div class="winner-wrapper">
        <div class="header">You Won!</div>
    <form action="/winners">
        <input type="text" placeholder="Enter your name:">
    </form>
    <a href="/">Play Again?</a>
    </div>
</body>
</html>